<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Información</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-content>
        <h2>Tipo: {{ casa.tipo }}</h2>
        <h2>Ubicación: {{ casa.colonia }}, {{ casa.municipio }}</h2>
        <h2 *ngIf="casa.m2 != '0'">Terreno: {{ casa.m2 }}</h2>
        <h2 *ngIf="casa.m2 == '0'">Terreno: N/A</h2>
        <h2 *ngIf="casa.m2_2 != '0'">Construcción: {{ casa.m2_2}}</h2>
        <h2 *ngIf="casa.m2_2 == '0'">Construcción: N/A</h2>
        <h2 *ngIf="casa.rooms != '0'">Cuartos: {{ casa.rooms }}</h2>
        <h2 *ngIf="casa.rooms == '0'">Cuartos: N/A</h2>
        <h2 *ngIf="casa.baths != '0'">Baños: {{ casa.baths }}</h2>
        <h2 *ngIf="casa.baths == '0'">Baños: N/A</h2>
        <h2 *ngIf="casa.cars != '0'">Estacionamiento: {{ casa.cars }}</h2>
        <h2 *ngIf="casa.cars == '0'">Estacionamiento: N/A</h2>
        <br>
        <h2>
          Descripcion:
          <br>
          <p>{{ casa.descripcion }}</p>
        </h2>
      </ion-card-content>
    </ion-card>
</ion-content>